<h2 style="text-align: center; margin-inline: 25%;">top-10 first responders for {{current_term}} (meaning those users which were the first to respond to a new topic)</h2>
<table style="margin: 0 auto; background-color: lightgreen; border-collapse: collapse; text-align: center;">
    <tr>
        <th style="border: 1px solid black; padding: 8px;">Name</th>
        <th style="border: 1px solid black; padding: 8px;">Count</th>
    </tr>
    {% for responder in most_freq_first_responders %}
    <tr>
        <td style="border: 1px solid black; padding: 8px;">{{ responder[0] }}</td>
        <td style="border: 1px solid black; padding: 8px;">{{ responder[1] }}</td>
    </tr>
    {% endfor %}
</table>