{% if trending_scores %}
    <table style="width:100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="border: 1px solid #ddd; padding: 8px;">Topic Link</th>
                <th style="border: 1px solid #ddd; padding: 8px;">Responses</th>
                <th style="border: 1px solid #ddd; padding: 8px;">Likes</th>
                <th style="border: 1px solid #ddd; padding: 8px;">Quotes</th>
            </tr>
        </thead>
        <tbody>
            {% for topic_id, topic_url, topic_title, response_count, like_count, quote_count in trending_scores %}
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">
                    <a href="{{ topic_url }}" target="_blank">{{ topic_title }}</a>
                </td>
                <td style="border: 1px solid #ddd; padding: 8px;">{{ response_count }}</td>
                <td style="border: 1px solid #ddd; padding: 8px;">{{ like_count }}</td>
                <td style="border: 1px solid #ddd; padding: 8px;">{{ quote_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No trending topics found because course was either NOT-OFFERED THIS TERM.<br>Or there was no activity on discourse since 7 days</p> 
    <p>Please contact support if you think there is some discrepancy.</p>
{% endif %}
