<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discourse Viz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Discourse Visualization</h1>
    <p>Subham bhai tussi great ho.</p>
    <ul>
        <li><a href="#">Karthik_POD</a></li>
        <li><a href="#">Manoj Khara</a></li>
        <li><a href="#">Nitin Jha</a></li>
        <li><a href="#">Vishal Raj</a></li>
        <li><a href="#">Nikita Kumari</a></li>
    </ul>
</body>
</html>
